{% extends    "todo_app/base.html" %}
{% block title %}
ABOUT PAGE
{% endblock title %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4"><center> To-Do list</center></h1>
      <p class="lead"><center>bu python web geliştiricileri için yapılacaklar listesi</center></p>
      <p class="lead"><center> is To-Do list for Python Django  Web Development.</center></p>
      <p class="lead"><center> is To-Do list for Python Django  Web Development.</center></p>
      <p class="lead"><center> is To-Do list for Python Django  Web Development.</center></p>
      <p class="lead"><center> is To-Do list for Python Django  Web Development.</center></p>
      <div class="text-center ">
        <br>
        
      <button type="button" class="btn btn-outline-success"><center>create to-do list</center></button>
    </div>
    </div>
  </div>
  {% endblock content %}