{% extends    "todo_app/base.html" %}
{% block title %}
HOME PAGE
{% endblock title %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4"><center> To-Do list</center></h1>
      <p class="lead"><center> is To-Do list for Python Django  Web Development.</center></p>
      <div class="text-center ">
      <a class="btn btn-outline-success" href="{%url 'create' %}" role="button"><center>create to-do list</center></a>
    </div>
    </div>
  </div>
  <div class ="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">To_Do List</th>
        <th scope="col">Is finished?</th>
        <th scope="col">date and time</th>
        <th scope="col">delete</th>
        <th scope="col">update</th>
      </tr>
    </thead>
    <tbody>
      {% for todo in todo_list %} 
        {% if todo.finished %} 
          <tr>              
             <td><del>{{todo.title}}</del></td>
             <td><a  class="btn btn-danger" href="{% url 'yes_finish' todo.id %}" role="button">yes</a></td>
             <td>{{todo.date}}</td>
             <td><a  class="btn btn-danger" href="{% url 'delete' todo.id %}" role="button">Delete</a></td>
             <td><a  class="btn btn-warning" href="{% url 'update' todo.id %}" role="button">Update</a></td>

             <td></td>
          </tr>
        {% else %} 
          <tr>  
             <td>{{todo.title}}</td>
             <td><a  class="btn btn-warning" href="{% url 'no_finish' todo.id %}" role="button">no</a></td>
             <td>{{todo.date}}</td>
             <td><a  class="btn btn-danger" href="{% url 'delete' todo.id %}" role="button">Delete</a></td>
             <td><a  class="btn btn-warning" href="{% url 'update' todo.id %}" role="button">Update</a></td>

             <td></td>
         </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>










  {% endblock content %}