{% extends    "todo_app/base.html" %}

{% block title %}
CREATE PAGE
{% endblock title %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><center> To-Do list</center></h1>
    <p class="lead"><center> is To-Do list for Python Django  Web Development.</center></p>

    <div>
      <form method="post">
        {% csrf_token %}
        <div class="row mb-3">
          <label  class="col-sm-2 col-form-label">todo title</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="title">
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-sm-2 col-form-label">description</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="description">
          </div>
        </div>

        <fieldset class="form-group">


        </fieldset>
        
        <button type="submit" class="btn btn-succes">update this todo</button>
      </form>
    </div>
    
  </div>
</div>
<div class ="container">
<table class="table">
  {% endblock content %}